/* GENERAL CSS*/

body {
    font-family: 'Poppins';
    background-color: #FAF9F4;
}

h1 {
    font-size: 42px;
    color: #3A2518;
}

.bold-heading{
    font-weight: bold;
}

.font-size-20{
    font-size: 20px;
}

h2.addMargins {
    color: #94a97a;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 0px;
}

.about-text{
    font-size: 14px;
    width: 35vw;
}

.filterLabel {
    margin-top: 10px;
}

.marker {
    font-family: 'Poppins';
}

.contextContainer{
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: -1;
    max-width: 85%;
}

.contextRelative{
    position: relative;
    left: -10%;
}

/* Quotes CSS */

.centerItemsQuotes {
    margin: auto auto 500px;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.quotes{
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: -1;
}

#quotesTitle{
    padding-top: 20px;
    padding-bottom: 20px;
}

#transition2Quotes{
    margin-bottom: 15px;
}

.quotesRelative{
    position: relative;
    left: -50%;
    padding: 20px 30px 10px 30px;
}

.quote{
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;

}

.quotesBox{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

#fourthQuote {
    font-weight: bold;
}

.downArrow{
    display: block;
    margin: 20px auto auto;
    width: 10%;
}

.vertical-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-padding{
    padding-right: 100px;
}
#sourcesPage ul {
    display: table;
    margin: 0 auto;
}

/* VISUALIZATIONS CSS*/

svg {
    fill: lightgray;
    stroke: darkgrey;
}

.centerText {
    text-align: center;
}

.leftAlignText{
    text-align: left;
}

/* MAP/MAIN MESSAGE */

#squirrel_map_vis {
    width: 95%;
    height: 400px;
    margin-left: 20px;
}

#mainMessage{
    padding:25px;
}

#storiesMap{
    margin-bottom: 10px;
}


.squirrelMapCaption {
    margin-bottom: 10px;
}

.squirrelMapTitle{
    color: #3A2518;
    font-size: 30px;
}

.squirrelMapDescription {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    /*padding-bottom: 10px;*/
    /*border-bottom: 2px solid #2e3133;*/
}

.btn{
    margin-right: 3px;
}


.walkDescription {
    margin-bottom: 20px;
}

.walkCard {
    margin-top: 10px;
}

.walkBody{
    padding-right: 15px;
}

.labels {
    text-align: end;
}

.walkText {
    /*border-bottom-style: inset;*/
    /*border-bottom-color: #d7d7d7;*/
}

#walk_map_vis {
    width: 100%;
    height: 650px;
    margin-left: 20px;
}

#walk_map_info {
    margin-top: 5px;
}
/* Homepage */
#titleSquirrel {
    font-size: 100px;
    position: relative;
    padding-left: 50px;
    top: -150px;
}

#titleCity {
    font-size: 80px;
    position: relative;
    padding-left: 180px;
    top: -170px;
}
.homeImages {
    position: relative;
}

.homeItem {
    position: absolute;
    width: 95%;
    height: 800px;
    top: -450px;
}

#homepagesquirrel {
    position: absolute;
    width: 10%;
    height: 45%;
    top: 125px;
    left: 175px;
}

/* Story Vis */
.word-cloud-text{
    stroke: none;
}
.word-cloud-text:hover {
    opacity: .75;
    cursor: pointer;
}

.randomStoryBox {
    /* vertical scroll within div*/
    float:left;
    overflow-y: auto;
    height: 160px;
    /* look pretty */
    background-color: #e6f2ff;
    border-radius: 15px;
    color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    font-size: 14px;
}
  
#sentiment_vis{
    height: 100%;
    padding-left: 50px;
}


.sentiment-svg{
    stroke: none;
}

.sentimentDescription {
    /*margin-left: 20px;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 20px;*/
    padding-bottom: 10px;
    /*border-bottom: 2px solid #2e3133;*/
}

.form-control{
    width: 100%;
    border: black solid 1.5px;
    border-radius: 5px;
    background-color: transparent;

}
.form-control:focus{
    outline: none;
    box-shadow: none;
    /*background-color: ;*/
}
#sample_stories{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 30px;
    justify-self: center;
    margin: 15px 0;
    background-color: #BFDBF7;
    opacity: 0;
    border: 2px solid #BFDBF7;
    border-radius: 5px;
}
.sentiment-tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    /*height: 28px;*/
    padding: 20px;
    font: 12px sans-serif;
    font-family: "Poppins";
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    z-index: 200;
    display: flex;
    flex-direction: row;
    /*  pointer-events: none;	This line needs to be removed */
}


.sentiment-tooltip h3,h4 {
    text-align: left;
    font-family: "Poppins";
}
.sentiment-tooltip h4 {
    font: 14px sans-serif;
}

.bubble-axis text, .standard-text, .bar-axis text, .legend-axis text{
    stroke: none;
    font: 12px sans-serif;
    font-family: "Poppins";
    color: black
}

.bubble-axis path{
    stroke: none;
}

.bubble-tooltip {

    position: absolute;
    text-align: center;
    width: 250px;
    /*height: 28px;*/
    padding: 5px;
    font: 12px sans-serif;
    font-family: "Poppins";
    background-color: white;
    /*color: lightcoral;*/
    border-radius: 8px;
    border: thin solid grey;
    z-index: 200;
    /*  pointer-events: none;	This line needs to be removed */
}

.bubble-tooltip h3,h4 {
    text-align: left;
    font-family: "Poppins";
}
.bubble-tooltip h4 {
    font: 16px sans-serif;
}


/* FULLPAGE.JS STEPPER CSS*/
#fp-nav ul li .fp-tooltip {
    color: black;
}

/* Story Carousel CSS*/
.storyMapFilters {
    margin-left:20px;
    margin-bottom: 5px;
    align-content: center;
}

.storyFiltersLabel {
    margin-right: 10px;
    font-size: 20px;
    line-height: 35px;
}

.storyBox {
    /* vertical scroll within div*/
    float:left;
    overflow-y: auto;
    height: 160px;
    /* look pretty */
    background-color: #e6f2ff;
    border-radius: 15px;
    color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
}

#storiesVis{
    /*margin-left: 10vw;*/
    height: 85vh;
    padding: 25px;
}

#storiesMap {
    background-color: #BFDBF7;
    /*margin-top: 20px;*/
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    width: 95%;
    height: 170px;
    border-radius: 15px;
    align-self: center;
}

.stories-carousel {
    margin-left: 20px;
    margin-top: 5px;
    align-content: center;
    align-items: center;
}

/* Hook */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
input:focus {
    outline:none;
}

#UserGuess {
    color: #3A2518;
}
#userSquirNum {
    background-color: transparent;
    border: solid 1.5px #3A2518;
    border-radius: 10px;
    padding: 6px 12px;
    margin-right: 10px;
}

#userSquirNum text {
    color: black;
    opacity: 50%;
}

.squirButton {
    padding: 8px 12px;
    background-color: #BFDBF7;
    border-radius: 10px;
    border: none;
    transition: background-color .2s;
}

.squirButton:hover {
    background-color: beige; /* whatever color is best */
    cursor: pointer;
}

.backgroundLayout {
    align-content: center;
    background-color: #BFDBF7;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    text-align: left;
}

#hook-comparingGuess{
    align-content: flex-start;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10vw;
    text-align: left;
    color: #3A2518;
}

#comparingSquirNum {
    color: #3A2518;
    width: 35vw;
}

.squirrelCensus{
    height: 75vh;
}

.imageHolder{
    display: flex;
    flex-direction: column;
    width:100%;
    height: min-content;
    justify-content: center;
    align-items: center;
    /*background-color: #FAF9F4;*/
}
.imageHolder img{
    mix-blend-mode:multiply;
}
.projectInfo{
    width: min-content;
}

/* Context */

button:focus {
    outline:none;
}

.centerItems {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.leftAlignItems {
    /*margin: auto;*/
    width: 50%;
    padding: 10px 10px 10px 10vw;
    text-align: left;
    align-self: flex-start;
}



  /* About Us */

.centerMugshot {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.mugshot {
    width: 100%;
    height: 75%;
    border-radius: 10%;
}

#conclusion-tree {
    height: 1600px;
    position: absolute;
    left: 0px;
    top: -1000px;
    z-index: 1;
}

#conclusion-squirrel {
    height: 250px;
    top: 60px;
    bottom: 80px;
    position: relative;
    left: 200px;
    top: 170px;
    z-index: -1;
    transform: rotate(0deg);
}

#conclusion-message {
    padding-top: 200px;
}
/* Squirrel Trivia */

.answer-margins {
    padding-left: 50px;
}

#moreQuestionsDiv {
    float: right;
    padding-right: 0px;
    padding-top: -50px;
}


/* Backgrounds will cover all the sections. Add ".load-background" for lazy loading!
	* --------------------------------------- */
/*#hookVis,*/
/*#censusInfo,*/
/*#squirrelTrivia,*/
/*#bubbleVis,*/
/*#walkMap*/
/*{*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*}*/

/* Defining each section background and styles
* --------------------------------------- */
#hookVis.load-background{
    background: transparent url(../images/squirrels-path-01.png) no-repeat scroll 0px 100%;
    background-size: 90%;
}
#hookSquirrelDiv{
    background: transparent url(../images/squirrel-standing.png) repeat-x scroll;
    background-size: 10vw;
    background-position: -2vw 0px;
    width: 30vw;
    height: 200px;
    position: absolute;
    left: 10vw;
    top: 80vh;
    /*margin-left: 10vw;*/
    /*margin-top: 15vh;*/
}
#censusInfo.load-background {
    background: transparent url(../images/squirrels-path-02.png) no-repeat scroll 0px 0px;
    background-size: 90% 100%;
}
.grass-divider{
    /*background: transparent url(../images/grass-divider-03.png) no-repeat scroll 0px 0px;*/
    /*background-size: 100% 120%;*/
}
#contextToMain, #cloudToTrivia, #TriviaToBubble{
    position: absolute;
    top: 60vh;
    width: 100vw;
    height: 400px;
}
/*#squirrelTrivia{*/
/*    background-image: url(../images/Trivia.png);*/
/*    !*padding: 6% 0 0 0;*!*/
/*}*/
/*#bubbleVis {*/
/*    background-image: url(../images/bubble.png);*/
/*}*/
/*#walkMap {*/
/*    background-image: url(../images/walkmap.png);*/
/*}*/

#quotesInfo.load-background{
    background: transparent url(../images/quotesBackground.png) no-repeat scroll 0px 0px;
    background-size: 100% 100%;
    width: 100vw;
    /*z-index: -1;*/
}